body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}


nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

nav .logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
}

nav ul {
    list-style-type: none;
    display: flex;
    gap: 2rem; 
}

nav div {
    text-decoration: none;
    color: #333;
    transition: color 0.3s ease;
}

nav div:hover {
    color: #007BFF; 
}


.item-list-container {
    padding: 1rem;
}

.nav ul:hover{
    color: #007BFF; 
}

.item-list-container h2 {
    font-size: 2rem;
    color: #333;
}